<html>
  <head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/cheat-css.css)}}">
  </head>
  <body>
  {% if verboce>=1 %}
	<div class="wrapper">
		<div class="items item1"><center><img src="{{ url_for('static',filename='images/1.jpg')}}" class="imgsrc1"></center></div>
		<div class="items item2"><center><img src="{{ url_for('static',filename='images/1_1.jpg')}}" class="imgsrc2"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/1_2.jpg')}}" class="imgsrc3"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/1_3.jpg')}}" class="imgsrc4"></center></div>
		<div class="items item1"><center><img src="{{ url_for('static',filename='images/2.jpg')}}" class="imgsrc1"></center></div>
		<div class="items item2"><center><img src="{{ url_for('static',filename='images/2_1.jpg')}}" class="imgsrc2"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/2_2.jpg')}}" class="imgsrc3"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/2_3.jpg')}}" class="imgsrc4"></center></div>
		<div class="items item1"><center><img src="{{ url_for('static',filename='images/3.jpg')}}" class="imgsrc1"></center></div>
		<div class="items item2"><center><img src="{{ url_for('static',filename='images/3_1.jpg')}}" class="imgsrc2"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/3_2.jpg')}}" class="imgsrc3"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/3_3.jpg')}}" class="imgsrc4"></center></div>
		<div class="items item1"><center><img src="{{ url_for('static',filename='images/4.jpg')}}" class="imgsrc1"></center></div>
		<div class="items item2"><center><img src="{{ url_for('static',filename='images/4_1.jpg')}}" class="imgsrc2"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/4_2.jpg')}}" class="imgsrc3"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/4_3.jpg')}}" class="imgsrc4"></center></div>
		<div class="items item1"><center><img src="{{ url_for('static',filename='images/5.jpg')}}" class="imgsrc1"></center></div>
		<div class="items item2"><center><img src="{{ url_for('static',filename='images/5_1.jpg')}}" class="imgsrc2"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/5_2.jpg')}}" class="imgsrc3"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/5_3.jpg')}}" class="imgsrc4"></center></div>
		<div class="items item1"><center><img src="{{ url_for('static',filename='images/6.jpg')}}" class="imgsrc1"></center></div>
		<div class="items item2"><center><img src="{{ url_for('static',filename='images/6_1.jpg')}}" class="imgsrc2"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/6_2.jpg')}}" class="imgsrc3"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/6_3.jpg')}}" class="imgsrc4"></center></div>
		<div class="items item1"><center><img src="{{ url_for('static',filename='images/7.jpg')}}" class="imgsrc1"></center></div>
		<div class="items item2"><center><img src="{{ url_for('static',filename='images/7_1.jpg')}}" class="imgsrc2"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/7_2.jpg')}}" class="imgsrc3"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/7_3.jpg')}}" class="imgsrc4"></center></div>
		<div class="items item1"><center><img src="{{ url_for('static',filename='images/8.jpg')}}" class="imgsrc1"></center></div>
		<div class="items item2"><center><img src="{{ url_for('static',filename='images/8_1.jpg')}}" class="imgsrc2"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/8_2.jpg')}}" class="imgsrc3"></center></div>
		<div class="items item3"><center><img src="{{ url_for('static',filename='images/8_3.jpg')}}" class="imgsrc4"></center></div>
	</div>
	{% endif %}
	</body>
</html>